* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #303c51;
    padding: 20px;
}

.logo {
    color: #F5F7FA;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #F5F7FA;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    padding: 60px;
}

h1 {
    color: #F5F7FA;
    font-size: 60px;
    padding: 20px;
}

p {
    color: #d8e1ee;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 12px;
}

button {
    border: 2px solid #F5F7FA;
    font-size: 15px;
    background-color: #303c51;
    color: #F5F7FA;
    padding: 8px;
    cursor: pointer;
}

.sag {
    width: 45%;
}

img {
    width: 100%;
}


